.floating-announcement {
  width: 100%;
  overflow: hidden;
}

.announcement-content {
  display: inline-block;
  animation: scroll 30s linear infinite;
}

.announcement-content:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-120%);
  }
}